<a href="https://colab.research.google.com/github/multihalbun/BackendOrmi/blob/main/crawling_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 크롤링, 웹 스크래핑: 웹에 있는 데이터를 가지고 온다

In [ ]:
# 데이터를 가져오는 라이브러리: requests
# 가져온 데이터를 가공하는 라이브러리: beautifulsoup

In [ ]:
# 크롤링대상: https://paullab.co.kr/stock.html

In [ ]:
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

In [ ]:
soup.title

In [ ]:
soup.select('.tables')

[<div class="tables">
 <table class="border-style" summary="시가총액 정보">
 <tr>
 <th class="strong" scope="row">시가총액</th>
 <!-- 공백은 의도적으로 넣은 것입니다. -->
 <td class="strong"><em id="_market_sum">349조 2,323</em>억원</td>
 </tr>
 <tr>
 <th scope="row">
 <a class="link_site" href="#">시가총액순위<i class="fas fa-caret-right"></i></a>
 </th>
 <!-- 공백은 의도적으로 넣은 것입니다. -->
 <td>위니브월드 <em id="_market_sum">1</em>위</td>
 </tr>
 <tr>
 <th scope="row">상장주식수</th>
 <!-- 공백은 의도적으로 넣은 것입니다. -->
 <td><em id="_market_sum">5,969,782,550</em></td>
 </tr>
 </table>
 <table class="border-style" summary="업종상세 정보">
 <tr>
 <th class="strong" scope="row">현재가</th>
 <td class="strong"><em id="_market_sum">349조 2,323</em>억원</td>
 </tr>
 <tr>
 <th scope="row">52주 최고 <span class="bar">l</span> 최저</th>
 <td>
 <em>62,800</em>
 <span class="bar">l</span>
 <em>42,300</em>
 </td>
 </tr>
 <tr>
 <th scope="row">배당수익률 <span class="bar">l</span><span> 2019.12</span>
 <a alt="배당수익률 상세설명" class="help" href="#"><em>?</em></a>
 <div class="lyr_section" style="display:none">
 <div class="tooltip_lyr dividend_layer" id="helpPannel5">
 <strong>배당수익률 = (배당금 / 현재가) x 100</strong>
 <p>배당금은 최근 결산연도 기준의 중간배당을 포함한 총 배당금입니다.</p>
 <span class="arrow"></span>
 </div>
 </div>
 </th>
 <td>
 <em id="_dvr">2.42</em>%
                 </td>
 </tr>
 </table>
 <table>
 <tr>
 <th class="strong" scope="row">매출</th>
 <!-- <td>22조 1,250억원</td> -->
 <td class="strong">22,125,034,978,750원</td>
 </tr>
 <tr>
 <th scope="row">비용</th>
 <!-- <td>19조 2,238억원</td> -->
 <td>19,223,803,154,781원</td>
 </tr>
 <tr>
 <th scope="row">순익</th>
 <!-- <td><em id="_market_sum">2조 9,012억원</em></td> -->
 <td><em id="_market_sum">2,901,231,823,969원</em></td>
 </tr>
 </table>
 </div>]

In [ ]:
총액정보 = soup.select('.tables')
총액정보[0].select('table')[0]

<table class="border-style" summary="시가총액 정보">
<tr>
<th class="strong" scope="row">시가총액</th>
<!-- 공백은 의도적으로 넣은 것입니다. -->
<td class="strong"><em id="_market_sum">349조 2,323</em>억원</td>
</tr>
<tr>
<th scope="row">
<a class="link_site" href="#">시가총액순위<i class="fas fa-caret-right"></i></a>
</th>
<!-- 공백은 의도적으로 넣은 것입니다. -->
<td>위니브월드 <em id="_market_sum">1</em>위</td>
</tr>
<tr>
<th scope="row">상장주식수</th>
<!-- 공백은 의도적으로 넣은 것입니다. -->
<td><em id="_market_sum">5,969,782,550</em></td>
</tr>
</table>

In [ ]:
총액정보 = soup.select('#_market_sum')
총액정보[2].text

'5,969,782,550'

In [ ]:
# advanced 과제 : 제주코딩베이스캠프 연구원에
# 2019.09.24일 부터 2019.10.23일까지 거래된 거래총량을 구해주세요.

# https://paullab.co.kr/stock.html

In [ ]:
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.paullab.co.kr/stock.html')

response.encoding = 'utf-8'
html = response.text

soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# 테이블을 list로 저장
table = soup.select('.table.table-hover')[0].select('tr')

# 테이블 헤더를 list로 저장
table_header = list(map(lambda x : x.text, table[0].select('th')))

sum = 0
for i in range(1, len(table)):
    # 테이블의 각 행의 거래량 요소를 text로 변환후 ','를 지우고 int로 변환
    sum += int(table[i].select('td')[table_header.index('거래량')].text.replace(',', ''))
print(sum)

13067306

In [ ]:
# 테이블을 2차원 배열로 저장
table = soup.select('.table.table-hover')[0].select('tr')

table_header = list(map(lambda x : x.text, table[0].select('th')))
new_table = []
for row in table:
    cols = []
    for col in row.select('td > span'):
        cols.append(col.text.replace('\n', '').replace(' ', ''))
    if cols:
     new_table.append(cols)

print(table_header)
new_table

['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']

[['2019.10.23', '6,650', '20', '6,590', '6,830', '6,580', '398,421'],
 ['2019.10.22', '6,630', '190', '6,830', '6,930', '6,530', '919,571'],
 ['2019.10.21', '6,820', '390', '6,440', '6,890', '6,360', '1,678,055'],
 ['2019.10.18', '6,430', '480', '6,020', '6,620', '5,970', '2,168,857'],
 ['2019.10.17', '5,950', '20', '6,100', '6,180', '5,840', '1,982,922'],
 ['2019.10.16', '5,930', '290', '5,620', '5,930', '5,350', '839,434'],
 ['2019.10.15', '5,640', '260', '5,370', '5,660', '5,300', '702,104'],
 ['2019.10.14', '5,380', '340', '5,060', '5,420', '5,060', '764,800'],
 ['2019.10.11', '5,040', '60', '5,100', '5,170', '5,020', '134,558'],
 ['2019.10.10', '5,100', '50', '5,000', '5,120', '4,970', '288,563'],
 ['2019.10.08', '5,050', '110', '4,985', '5,050', '4,910', '223,839'],
 ['2019.10.07', '4,940', '70', '4,990', '5,110', '4,905', '199,580'],
 ['2019.10.04', '5,010', '90', '4,900', '5,050', '4,900', '188,467'],
 ['2019.10.02', '4,920', '90', '4,930', '5,000', '4,900', '160,510'],
 ['2019.10.01', '5,010', '10', '4,950', '5,050', '4,950', '246,145'],
 ['2019.09.30', '5,000', '10', '5,180', '5,300', '4,990', '705,046'],
 ['2019.09.27', '5,010', '50', '5,020', '5,080', '4,865', '408,859'],
 ['2019.09.26', '5,060', '0', '5,130', '5,200', '4,965', '404,633'],
 ['2019.09.25', '5,060', '270', '5,280', '5,320', '5,040', '441,923'],
 ['2019.09.24', '5,330', '10', '5,300', '5,370', '5,280', '211,019']]