<a href="https://colab.research.google.com/github/multihalbun/BackendOrmi/blob/main/deep_dive_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.

1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

* 선택 마크다운

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    ---

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문 작성하기
    `인라인 코드는 이렇게 작성해요.`

    [인라인 링크](https://velog.io/)

    ![이미지 설명](이미지 링크)

    * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
    | 1 | 2     | 3 | 4 | 5     |
    |---|-------|---|---|-------|
    | 1 | hello | 3 | 4 | world |

    * [ ] hello
    * [X] hello
    ```

# Python

In [ ]:
# 행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port # 마우스 오버시 설명

In [ ]:
# 띄어쓰기 4칸 (tab(스파에스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
#	print('큰 따옴표로 세번 묶거나')

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A:
    pass

n = hello # function
o = print # bulit-in function
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
hello = 10

print(r'hello \n world') # str -> raw
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

hello \n world
hello
 world 10
hello world 10

In [ ]:
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

2300.0
2300.0

2300.0

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

0.0023
0.0023

0.0023

In [ ]:
type (2.3e3)

float

In [ ]:
class A: # 자동차 공장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

type

In [ ]:
print(type(a))

<class 'type'>

In [ ]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 자주 사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만. y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지를 그 주소값을 반환합니다.

(140156359393808, 140156359393808)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x), id(y)

(140155872794096, 140155872794000)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

(140156359393328, 140156359393328)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 매직메서드(__init__ ...)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 '약속'을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(id(x), id(y), id(z))

140156359393808 140156359393808 140156359393808

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법 (Python에서 주로)
hello_world = 10
# 카멜 표기법 (JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법 (Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 10

π = 3.14 # 권하지 않습니다.
print(π)

_ = 100 # 언더바는 자주사용되는데 이렇게 사용되진 않습니다.
print(_)

3.14
100

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100
print('hello')

hello

## 입력과 출력

In [ ]:
x = input()
x

10

'10'

In [ ]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [ ]:
print(10, 10, 10)

10 10 10

In [ ]:
print('hello', 'world', 'hello')

hello world hello

In [ ]:
print (x, x)

10 10

In [ ]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [ ]:
print('hello', 'world', sep='!')
print('010', '1234', '5678', sep='-')

hello!world
010-1234-5678

In [ ]:
이름 = '이호준'
나이 = 10
print('1. 제 이름은 이호준입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'5. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 이호준입니다. 제 나이는 10입니다.
2. 제 이름은 이호준입니다. 제 나이는 10입니다.
3. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.
5. 제 이름은 이호준입니다. 제 나이는 10입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100*10}')

1000

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100 *10
print(f'{result}')

1000

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":<10}')
print(f'{"hello":>10}')
print(f'{"hello":^10}')

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":!<10}')
print(f'{"hello":!>10}')
print(f'{"hello":!^10}')

hello!!!!!
!!!!!hello
!!hello!!!

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

hello=====
=====hello
==hello===

In [ ]:
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
print(f'{0.12345:0.2f}')

0.12

* 이 아래 코드는 필수는 아닙니다. 참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
    5
5
  5
50000
   5.00

## int (정수)

* 파이썬에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
10 # 정수
-10 # 정수
10.1 # 실수

a = 10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' # bit로 바꿨을 때 비트의 길이
'to_bytes' # 컴퓨터에서 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024Kb 
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

4

In [ ]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다. 
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다. 
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 -> ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.
# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f -> 10

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10') + int('10')

100

In [ ]:
int('10', 2) # 2진법으로 10은?

2

In [ ]:
int('10', 8) # 8진법으로 10은?

8

In [ ]:
int('10', 16) # 16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리 - 2진수
print(0o110) # 옥타 - 8진수
print(0x110) # 헥사 - 16진수

6

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

False

## float (실수)

In [ ]:
a = 10.1
type(a)

float

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [ ]:
# 부동소수점 오차 (2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
a = a + 0.1
a

2.0000000000000004

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

## (230501) 오늘 배운 것 정리 요약
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형 입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() # 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

(8, 8)

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드
# bool(s.find('Z')) -> -1은 True이기 때문에 주의가 필요합니다
s.find('Z')

-1

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 잘 안주는 언어로 JavaScript가 있습니다.
# s.index('Z')

ValueError: ignored

In [ ]:
s = 'paullab CEO leehojun'
s.count('l')

3

In [ ]:
str([1, 2, 3, 4 ,5])

'[1, 2, 3, 4, 5]'

In [ ]:
str([1, 2, 3, 4 ,5]).count(' ')

4

In [ ]:
str([1, 2, 3, 4 ,5]).count(',')

4

In [ ]:
str([1, 2, 11, 4 ,111]).count('1')

6

In [ ]:
str([1,2,3,4,5]).count(' ') 
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

- https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str(list(range(0, 10001))).count('8')

4000

In [ ]:
'   hello  !  '.strip()

'hello  !'

In [ ]:
'   hello  !  '.rstrip()

'   hello  !'

In [ ]:
'   hello  !  '.lstrip()

'hello  !  '

In [ ]:
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'W@O@R@L@D')

'hello W@O@R@L@D hi'

In [ ]:
'hello world hi'.replace('world', 'W@O@R@L@D').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면 
# 이제부터 list 메서드를 사용해야 합니다.

['HELLO W', 'O', 'R', 'L', 'D HI']

In [ ]:
'hello world hi'.replace(' ', '')

'helloworldhi'

In [ ]:
data = ''' "  + +-+ -+-  "
"  ++ -- +-+  "
"  ++-+ -+ -  "
"  + ++-+ -+  " '''

data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.

num = data.split('\n')[0].replace(' ', '').replace('"', '').replace('+', '1').replace('-', '0')
int(num, 2)
chr(int(num, 2))

# # Pythonic하지 않다!
# data.split('\n')[0].replace(' ', 
#                 '').replace('"', 
#                 '')

# # Pythonic하게 하려면
# data.split('\n')[0]\
#                 .replace(' ', '')\
#                 .replace('"', '')\
#                 .replace('"', '')\
#                 .replace('"', '')

# processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
# processed_string.replace('"', '').replace('"', '')

'j'

In [ ]:
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

['paullab', 'CEO', 'leehojun']

In [ ]:
# 퀴즈
'010 5044 2903' # 1번
'010-5044-2903' # 2번
'010 5044-2903' # 3번

'010 5044-2903'

In [ ]:
# 원하는 결과값
# ['010', '5044', '2903']
# [10, 5044, 2903] # 010은 error가 나기 때문에 10으로 저장

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ', '-').split('-')

['010', '5044', '2903']

In [ ]:
# map은 뒤에서 상세하게 다룹니다
list(map(int,'010 5044 2903'.split(' ')))
list(map(int,'010-5044-2903'.split('-')))
list(map(int,'010 5044-2903'.replace(' ', '-').split('-')))

[10, 5044, 2903]

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가기 됩니다.
# '010 5044 2903'.split('') # 빈 문자열을 넣지는 못합니다.

['010', '5044', '2903']

In [ ]:
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

'hello world hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

(False, False)

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

(False, False)

In [ ]:
'paullab CEO leehojun'.isascii()

True

In [ ]:
# 퀴즈
# 숫자를 모두 더하라!
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

19

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

'     paullab CEO leehojun     '

In [ ]:
'hello'.zfill(20)
'hello'.zfill(20).replace('0', '-')

'---------------hello'

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab  CEO  leehojun'

In [ ]:
규칙테이블 = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab     CEO     leehojun'

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code
# pep20 : The Zen of Python
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

'pulbCOleou'

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun!'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [ ]:
test = [1, 2, 3, 4]
test2 = test
test2[0] = 1000
test, test2

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [ ]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test, test2

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error

asda

ValueError: ignored

In [ ]:
x = input()
if x.isdigit():
    x = int(x)
x + x

10

20

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

10

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

10.1

In [ ]:
# int('10a') # 되는 언어가 있어지만 Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1, 2, 3])
str({1, 2, 3})
str({'one':1, 'two':2})

"{'one': 1, 'two': 2}"

In [ ]:
# bool로 형변환
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드
l = [1, 2, 3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool(0) # 0을 제외하고 모두 True
bool(-1)
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드, False
bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
bool({})

hi
hi
3
2
1

False

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [ ]:
s = 'leehojun'
l = list(s)
l

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

In [ ]:
# tuple로 형변환
s = 'leehojun'
t = tuple(s)
t

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [ ]:
# dict
# name = 'leehojun' # error
# dict(name)

s = [('name', 'hojun'), ('age', 10)]
d = dict(s)
d

{'name': 'hojun', 'age': 10}

In [ ]:
# set으로 형변환
name = 'leehojun'
set(name)

{'e', 'h', 'j', 'l', 'n', 'o', 'u'}

In [ ]:
len('hello world') # __len__
len([1, 2, 3, 4])

4

In [ ]:
s = input()
print(s * 2)

abc
abcabc

In [ ]:
num = 1234567890
list(str(num))[3]

'4'

## 산술연산

In [ ]:
a = 10
b = 3
print(f'a + b == {a + b}')
print(f'a - b == {a - b}')
print(f'a / b == {a / b}')
print(f'a // b == {a // b}') # 몫만 나옵니다
print(f'a * b == {a * b}')
print(f'a ** b == {a ** b}')
print(f'a % b == {a % b}') # 나머지

a + b == 13
a - b == 7
a / b == 3.3333333333333335
a // b == 3
a * b == 30
a ** b == 1000
a % b == 1

In [ ]:
# 연산자 우선순위는 and, or , 4칙연산, 제곱 정도만 아셔도
# 코딩하는데 큰 무리가 없습니다.

print(3 ** 2 * 3)
print(3 * 3 ** 2) # 왜 81이 아니지?
# 곱하기 보다 제곱이 우선순위가 더 높습니다.
print(3 + 3 * 2) # 3 + 3부터 먼저 하지 않습니다.

27
27
9

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

10 > 3 == True
10 >= 3 == True
10 < 3 == False
10 <= 3 == False
10 == 3 == False
10 != 3 == True

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not은 반대
# True 1
# False 0

print(True and False)
print(True or False)
print(True or True)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때만 True
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

False
True
True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
result

2418

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
# python 입장에서 보는 코드
# False and ????? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if False and solution():
    print('hello')

In [ ]:
# python 입장에서 보는 코드
# False and ????? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if True or solution():
    print('hello')

hello

In [ ]:
# 단락 평가 (컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

'licat'

In [ ]:
username = 'leehojun'
username = username or 'licat'
username

'leehojun'

In [ ]:
# and와 or의 우선순의 (and가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
15
16
18
20
0
2
4
6
8
10
12
14
15
16
18
20

In [ ]:
# 아래는 출력되는 값이 다릅니다. 우선순위가 낮은 or가 먼저 나왔기 때문입니다.
# 헷갈리시면 괄호를 사용해주세요.
for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

0
6
10
12
18
20
0
3
6
9
10
12
15
18
20

## 비트연산

In [ ]:
# and
# 1001 == 9
# 0010 == 2
# ----
# 0000 == 0

In [ ]:
9 & 2

0

In [ ]:
# and
# 1001 == 9
# 1000 == 8
# ----
# 1000 == 8

In [ ]:
9 & 8

8

In [ ]:
# or
# 1001 == 9
# 0010 == 2
# ----
# 1011 == 11

In [ ]:
9 | 2

11

In [ ]:
# xor
# 1001 == 9
# 0010 == 2
# ----
# 1011 == 11

In [ ]:
9 ^ 2

11

In [ ]:
~9 # 2의 보수를 취하는 것입니다.

-10

In [ ]:
3 << 2
# 3을 2진수로 표현하면 11 2칸을 왼쪽으로 미는 것입니다.
# 1100

12

In [ ]:
7 >> 2

1

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a += 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남습니다.
a

30

In [ ]:
a = 10
a += 10 # a = a + 10
a

20

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

1

In [ ]:
# Python에서 특이하게 ++a, a++가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에
# 컨벤션 자료형이 어떻게 구성이 되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 999
b = 999
a is b

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

False

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에 등호는 type과 value를 봅니다.

True

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) # 이게 False면 is도 False입니다.

## not의 위치

In [ ]:
a = 10
b = 100
a is not b
# a not is b # error

True

In [ ]:
a = 10
b = [10, 20, 30]
a not in b

False

## 멤버연산

In [ ]:
'a' in 'helalo world'
'a' in 'hello world'
'a' in ['a', 'b']
'a' in {'a':10, 'b':20}
# 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

True

In [ ]:
'a' not in ['aa', 'bb']

True

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], 20, 30]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set([10, 20]).issubset(set([10, 20, 30]))
{10, 20}.issubset({10, 20 ,30, 40})

True

## 연산자 연습문제

In [ ]:
# 1번
a = 100
(a > 100) and (a < 200) # False
(a > 100) or (a < 200) # True
(a >= 100) and (a <= 200) # True
(a >= 100) or (a <= 200) # True

True

In [ ]:
# 2번
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [ ]:
# 3번
c = 1000
c // 100
# 결과값은 10입니다.

10

In [ ]:
# 4번
# 그리디 알고리즘 (욕심쟁이 알고리즘)
money = int(input())
print(money // 5000)
money %= 5000
print(money // 1000)
money %= 1000
print(money // 500)
money %= 500
print(money // 100)
money %= 100

8400
1
3
0
4

## (230502) 오늘 배운 것 정리 요약

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
    a
    ```

7. is, in
    1. is
        ```
        a = [1, 2, 3]
        b = [1, 2, 3]

        id(a), id(b)
        a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!
        ```
    2. in
        ```
        'a' in 'helalo world'
        'a' in 'hello world'
        'a' in ['a', 'b']
        'a' in {'a':10, 'b':20}
        # 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
        10 in {'a':10, 'b':20}.values()
        10 in {10, 20, 30}
        ```

## 함수

1. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
2. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [ ]:
# 같은코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은코드 2
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은코드 3
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

1
2
3
None

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

two1
two2
one1
one2
one3
200

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

two1
two2
one1
one2
one3
220

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a + b)
print(a + b + c)

# 비효율적인 코드
# print(one() + two())
# print(one() + two() + three())

one
two
three
20
30

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다.
leehojun = print
leehojun('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(leehojun), id(print)

(140489089602864, 140489089602864)

In [ ]:
l = [leehojun, print, leehojun, print]
leehojun('hello world')
l[0]('hello world')

hello world
hello world

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

hello
hello
hello
None

In [ ]:
def hello():
    def custom_sum(a, b):
        return a + b
    return custom_sum

c = hello()
c(10, 100)

110

## 함수의 기본 기능

In [ ]:
# 파선아실 (파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = 12

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z = x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

12

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드.
def custom_sum(x, y):
    if type(x) != int and type(x) != float or type(y) != int and type(y) != float:
        return '연산할 수 없습니다.'
    z = x + y
    return z
print(custom_sum(5, 'ㄱㄴㄷ'))

연산할 수 없습니다.

In [ ]:
# 한글코딩의 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋습니다.
# 2. 알고리즘 가독성은 괜찮습니다. 프로젝트느 조금 힘들 수 있어요. 일부 모듈에서는 사용할 수 있습니다.

# 한글코딩의 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    return 100

print(one())

100

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

hello1
hello2

NameError: ignored

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print(test)

def two():
    print(test)

one()
two()

10
10

In [ ]:
# 이렇게 하시면 error가 납니다. 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test += 10

one()

UnboundLocalError: ignored

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a += 1
f()

UnboundLocalError: ignored

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.
a = 100
def f():
    global a # 실무에서 사용 안합니다.
    a += 1
f()
print(a)

101

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요.
a = 100
def f(x):
    x += 1
    return x
a = f(a)
print(a)

101

In [ ]:
# 순수 함수
def f(x):
    return x + x + 100
f(10)
f(20)
# 아규먼트 값에 따라 다르지만
# 아규먼트에 2배해서 100 더해지는 사실은 변하지 않습니다.

140

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)
# test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가하게 됩니다.

220

In [ ]:
# 전역변수: 전역에서 접근할 수 있는 변수
# 지역변수: 함수 내에서만 접근할 수 있는 변수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

10
100

In [ ]:
a = 100
def one():
    a = 10
    def two():
        def three():
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

10
10
10
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

2
2
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

101
1
101

## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문을 사용하시기를 권합니다
* 어렵고 효율도 안좋습니다.
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
# def 숫자출력():
#     print(1)
#     return 숫자출력()
# 숫자출력()

In [ ]:
# for로 팩토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1

for i in range(1, 6):
    result *= i
    
result

120

In [ ]:
# 재귀로 팩토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)

f(5)

120

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result

# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

'olleh'

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

'olleh'

In [ ]:
# 피보나치
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21 ... 

curr = 1
next = 1
for i in range(1, 5):
    curr, next = next, curr + next

next

8

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2:
        return 1
    return f(n-1) + f(n-2)

f(1), f(2), f(3), f(4), f(5)

(1, 1, 2, 3, 5)

In [ ]:
f(35)

9227465

In [ ]:
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

102334155

## 함수 연습문제

In [ ]:
# 1번
# 다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

# I
# love
# python

I
love
python

In [ ]:
# 2번
#함수를 이용하여 계산기 프로그램을 만들어주세요.
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

# 람다식
# plus = lambda num1, num2 : num1 + num2
# minus = lambda num1, num2 : num1 - num2
# multiply = lambda num1, num2 : num1 / num2
# divide = lambda num1, num2 : num1 * num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
# 3번
# x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)

def pow(x, n):
    if n <= 1:
        return x
    else:
        return x * pow(x, n-1)

pow(2, 10)

1024

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 합니다.
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3)
제곱3(4)

81

## list (리스트)

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 셋를 넣는 것이 가능합니다

In [ ]:
list = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

(140489089602864, 140489089602864)

In [ ]:
# 컨벤션 자료형 (딕셔너리, 튜플, 셋, 리스트)에서는
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10, 20 ,30 ,40]
l[0] = 1000
l

[1000, 20, 30, 40]

In [ ]:
s = 'hello world'
# s[0] = 'k' # error
s

'hello world'

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data[0]

[1, 2, 3]

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

for i in range(3):
    for j in range(3):
        data[i][j] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
'''
3                       == 스칼라
[3, 4]                  == 벡터
[[1, 2, 3],             == 메트릭스(행렬)
 [4, 5, 6],
 [7, 8, 9]]
[[[1], [2], [3]],       == 메트릭스(행렬)
 [[4], [5], [6]],
 [7, 8, 9]]
'''

In [ ]:
# 리스트에서 주의해야 하는 연산
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10] * 2] *3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
id(x[0]), id(x[1])

(140487771096192, 140487771096192)

In [ ]:
l = [10, 20, 30]
type(l), dir(l)

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'])

## 리스트의 메서드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
l = [1, 2, 3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1, 2, 3]
# l.extend(4) # error
l

TypeError: ignored

In [ ]:
l = [1, 2, 3]
l.extend([1, 2, 3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [10, 20, 30]
l.clear()
l

[]

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 2000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
id(서울과일가게[0][0]), id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게

([['바나나', 3000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
l = [1, 2 ,3, 1, 1, 1, 2, 3, 2, 3, 1, 1]
l.count(1)

6

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)
a[:a.index(11)]

[10, 1, 1]

In [ ]:
a = [10, 20, 30]
a.insert(2, 1000) # insert는 값을 지우지는 않습니다.
a

[10, 20, 1000, 30]

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop()

50

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0)
l

[20, 30, 40, 50]

In [ ]:
# append: 맨 뒤에 추가
# insert : index에 값을 삽입하고 원래 있던 값을 뒤로 밀어버립니다
# pop: 맨뒤에서 값을 뽑아내고, index가 들어갈 경우 index에서 뽑습니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

[10, 30, 40, 50]

In [ ]:
# 실무에서 
# 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
def f(x):
    return x != 20

# True인 것만 반환해줍니다.
list(filter(f, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
filter(f, [10, 20, 30, 40, 50, 20, 20, 20])

In [ ]:
for i in filter(f, [10, 20, 30, 40, 50, 20, 20, 20]):
    print(i)

10
30
40
50

In [ ]:
list(filter(lambda x: x != 20, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며, 원본을 변환시킵니다.
l

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며, 원본을 변환시키지 않습니다.
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
# l.reverse() : 리스트에 메서드 이며, return None입니다! 원본이 역순, 원본을 만집니다.
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

None

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5, 6, 4, 3, 8, 9, 1]
print((reversed(l)))

<list_reverseiterator object at 0x7fc5dbf02c50>

## sort

In [ ]:
l = [1, 4, 5 ,2, 7, 3, 8, 6, 9, 10]
l.sort() # 원본을 변환하고 반환값은 None
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l = [1, 4, 5 ,2, 7, 3, 8, 6, 9, 10]
print(sorted(l))
# 원본을 변환하지 않고, 반환값은 정렬된 값
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 5, 2, 7, 3, 8, 6, 9, 10]

In [ ]:
# 이렇게 실무에서 진행하진 않습니다.
l = [1, 4, 5 ,2, 7, 3, 8, 6, 9, 10]
l.sort()
l.reverse()
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 이렇게 많이 사용합니다.
l = [1, 4, 5 ,2, 7, 3, 8, 6, 9, 10]
l.sort(reverse=True) # 내림차순
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
l = [1, 4, 5 ,2, 7, 3, 8, 6, 9, 10]
sorted(l, reverse=True) # 내림차순

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 연습문제
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print('1.')
print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))
print()
# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print('2.')
print(sorted(l))
print(sorted(l, key=f2, reverse=False))
print(sorted(l, key=lambda x:x[0], reverse=False))
print()
# 3. 중앙에 위치한 값대로 정렬해주세요.
def f3(x):
    return x[1]

print('3.')
print(sorted(l, key=f3, reverse=False))
print(sorted(l, key=lambda x:x[1], reverse=False))
print()



l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]

# 4. 3개의 전체 합이 작은 순서대로 출력해주세요
def f4(x):
    return x[0] + x[1] + x[2]

print('4.')
print(sorted(l, key=f4, reverse=False))
print(sorted(l, key=sum, reverse=False))
print(sorted(l, key=lambda x:sum(x), reverse=False))

1.
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]

2.
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]

3.
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]

4.
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

In [ ]:
# https://codingdojang.com/scode/408?answer_mode=hide
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]
# [1, 3, 4, 8, 13, 17, 20]
# [3, 4, 8, 13, 17, 20]

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip(point,point[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
def f(x):
    return x[1] - x[0]

print(sorted(zip(point,point[1:]), key=f))
print(sorted(zip(point,point[1:]), key=lambda x:x[1] - x[0]))

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]
[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된값 = sorted(l, reverse=True)
정렬된값 # [76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 = [
            정렬된값.index(l[0]), 
            정렬된값.index(l[1]), 
            정렬된값.index(l[2])
        ]
결과값

[2, 0, 1]

## (230503) 오늘 배운 것 정리

1. 함수
    1. 코드 덩어리(정말 쉽게 설명하면)
    2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
    3. 코드의 구조를 한 눈에 파악할 수 있습니다.
    4. 형태
        ```python
        # 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
        def function(x, y):
            z = x + y
            return z
        print(f'function(5, 7) = {function(5, 7)}')
        ```
    5. 함수 안에 함수와 함수 안에 변수는 밖에서 접근이 불가합니다.
    6. 지역 변수와 전역 변수
        * 전역변수 : 전역에서 접근할 수 있는 변수
        * 지역변수 : 함수 내에서만 접근할 수 있는 변수
        ```python
        # 전역변수는 각 함수에서 접근은 가능하지만 수정이 되진 않습니다.
        # only read
        # global이라는 키워드로 밖에 있는 변수를 수정할 수도 있지만 권하지 않습니다.
        # 권하지 않기에 요약자료에도 없습니다.
        a = 100
        def f():
            a = a + 1
        f()
        ```
    7. 재귀함수
        * 내가 나를 호출하는 것입니다.
        * 재귀 <-> for문은 대부분 호환이 가능합니다.
        * 반복문 사용하시기를 권합니다!
        * 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
        * 필수적으로 사용하는 곳이 있습니다.
        ```python
        def f(n):
            if n <= 1:
                return 1
            else:
                return n * f(n-1)

        f(5)
        ```
2. list (리스트)
    * 순서를 가진 데이터들의 집합(Sequence)
    * 리스트는 값의 변경
    * 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
    * 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다
    ```python
    l = [10, 20, 30, 40]
    print(l[0]) # 순서로 값 호출
    l[0] = 1000 # 값의 변경 가능
    print(l)

    data = [[1, 2, 3], # 다차원 배열
        [4, 5, 6],
        [7, 8, 9]]

    print(data)
    ```
    * 리스트 메서드
        * append : 맨 뒤에 값 추가
        * clear : 모든 값 지우기
        * copy : 얕은 복사
        * count : 갯수 세기
        * extend : 확장하기(뒤에 순회 가능한 객체가 들어오면 순차적으로 추가)
        * index : 위치 찾기
        * insert : 삽입하기
        * pop: 맨 뒤에서 값 꺼내기(index가 들어오면 index에서 값 꺼냄)
        * remove : 값 지우기
        * reverse : 역순
        * sort : 정렬

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1, 2, 3], [4, 5, 6]]
ll = l
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
ll[0] = 10
l, ll

([1000, 2000, 3000, 4000, 5000, 6000], [10, 2000, 3000, 4000, 5000, 6000])

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객채를 가리키고 있다?

(140075559464208, 140075559464208)

In [ ]:
# 얕은 복사
l = [1000, 2000, 3000, 4000, 5000, 6000]
ll = l.copy()
id(l), id(ll)

(140075555791040, 140075767071168)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
id(l[0]), id(ll[0])

(140075555773312, 140075555773312)

In [ ]:
# 얕은 복사
l = [[1, 2, 3], [4, 5, 6]]
ll = l.copy()
ll[0] = 100
l, ll

([[1, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

In [ ]:
# sorted도 얕은 복사
l = [[3, 4],[1, 2], [5, 6]]
ll = sorted(l)
ll[0][0] = 100
l, ll

([[3, 4], [100, 2], [5, 6]], [[100, 2], [3, 4], [5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll

([[1, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l[0][0]), id(ll[0][0])

(140076805423344, 140076805423632)

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]]
ll = copy.deepcopy(l)
ll[0][2][1][0] = 10
l, ll

([[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]],
 [[1, 2, [1, [10, 998]]], [4, 5, [2, [333, 332]]]])

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권장합니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
ll[0][0] = 100
l, ll

([[1, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

## 다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요
print(a[2][0][5:])

jun

## 리스트에서 built-in function을 활용

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) #최댓값
print(min(a)) #최솟값
print(sum(a)) #전체값의 합

8
1
36

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000], 
    # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON에서는 엄격해서 허락하지 않습니다.)
]

max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3])

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]

print(max(a, key=lambda x:x[1]))
print(min(a, key=lambda x:x[1]))
#print(sum(a)) error
print(sum(a, []))

[10, 2000, 30]
[1, 2, 3]
[1, 2, 3, 11, 22, 33, 10, 2000, 30]

## 리스트의 순회

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

# for 변수 in 순회가능한객체
for i in a:
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)

[1, 2, 3]
[11, 22, 33]
[13, 20000, 300000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)

1
2
3
11
22
33
13
20000
300000

## range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100)))
# python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) # 짝수
print(list(range(1, 101, 2))) # 짝수
print(sum(list(range(0, 101, 2))))
print(sum(range(0, 101, 2))) # 형 변환 하지않고 sum하시는 것을 권장합니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
2550
2550

## list comprehension

In [ ]:
# l = [1, 2, 3, 4, ...]
# list(range(1, 101))
l = []
for i in range(1, 101):
    l.append(i)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
# l = []
# for i in range(1, 101):
#     l.append(i**2)
# l

l = [i**2 for i in range(1, 101)]
l

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)

[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

[3,
 5,
 6,
 9,
 10,
 12,
 15,
 18,
 20,
 21,
 24,
 25,
 27,
 30,
 33,
 35,
 36,
 39,
 40,
 42,
 45,
 48,
 50,
 51,
 54,
 55,
 57,
 60,
 63,
 65,
 66,
 69,
 70,
 72,
 75,
 78,
 80,
 81,
 84,
 85,
 87,
 90,
 93,
 95,
 96,
 99]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10, 20, 30)
# t[1] = 1000 # error

TypeError: ignored

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30)
t[:2]

(10, 20)

In [ ]:
type(t), dir(t)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
t = (10, 20, 30, 20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t = tuple('leehojun')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

(1,)

## dict (딕셔너리, 사전형)

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} # dict
print(type(d))

d = {10} # set
print(type(d))

d = dict()
print(type(d))

d = {'one' : 1}
print(type(d))

<class 'dict'>
<class 'set'>
<class 'dict'>
<class 'dict'>

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict(name='leehojun', age=10)

{'name': 'leehojun', 'age': 10}

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) # 형변환

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# dict와 zip를 사용해서 아래와 같은 형태로 데이터를 만들어주세요.
# 잘 모르시겠으면 어떻게든 저 형태를 만들어주세요.

# 원하는 형태 {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

dict(zip('ABC', [[10, 20], [20, 30], [30, 40]]))

{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
'B' in {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

True

In [ ]:
len({'A': [10, 20], 'B': [20, 30], 'C': [30, 40]})

3

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }[day]

switch(7)

'일요일'

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(8)

'요일을 찾지 못했습니다.'

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
dict.fromkeys('leehojun')

{'l': None, 'e': None, 'h': None, 'o': None, 'j': None, 'u': None, 'n': None}

In [ ]:
dict.fromkeys('leehojun', 100)

{'l': 100, 'e': 100, 'h': 100, 'o': 100, 'j': 100, 'u': 100, 'n': 100}

In [ ]:
keys = ('name', 'age', 'grade')
values = ('leehojun', '10', '수')

dict.fromkeys(keys, values)

{'name': ('leehojun', '10', '수'),
 'age': ('leehojun', '10', '수'),
 'grade': ('leehojun', '10', '수')}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

{'one': 1, 'two': 2, 'three': '셋'}

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

two
three

In [ ]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

2
셋

## 언패킹

In [ ]:
# 패킹: 1, 2, 3 -> [1, 2, 3]
# 언패킹: [1, 2, 3] -> 1, 2, 3

In [ ]:
a, b, c = 10, 20 ,30
a

10

In [ ]:
a, b, c = (10, 20 ,30) # 소, 대 괄호 상관 없습니다
a

10

In [ ]:
for i, j, in [[10, 20],[30, 40], [50, 60]]:
    print(i, j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
for i, j in d.items():
     print(i, j)

d.items()

two 2
three 셋

dict_items([('two', 2), ('three', '셋')])

## max값을 이용한 dict 최대 value key값 가져오기

In [ ]:
d = {
    'test1': 10,
    'test2': 20,
    'test3': 31,
    'test4': 11,
}

max(d, key = d.get) # 많이 사용하는 코드

TypeError: ignored

## set (집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{'o', 'w', 'r', 'l', 'h', 'd', 'e', ' '}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10, 20})
print(n)

{1, 2, 3, 4, 20, 10}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

In [ ]:
# 교집합
a = {1, 2, 3}
b = {3, 4 ,5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합
a = {1, 2, 3}
b = {3, 4 ,5}
a | b
a.union(b)
# a + b # error

{1, 2, 3, 4, 5}

In [ ]:
# 차집합
a = {1, 2, 3}
b = {3, 4 ,5}
a - b
a.difference(b)

{1, 2}

In [ ]:
# 부분집합
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
s.issubset({1, 2, 3, 4, 5, 6})

True

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string     result
# "people"      "peol"

In [ ]:
result = ''
for i in 'people':
    if i not in result:
        result += i
result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'opel'

In [ ]:
def solution(my_string):
    s = set(my_string)
    result = ''
    for i in my_string:
        if i in s:
            result += i
            s.remove(i)
    return result

solution('people')

'peol'

## 연습문제

In [ ]:
# 1.
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

sum1 = sum(student_score.values())
avg = sum1 / len(student_score)
high = max(student_score, key = student_score.get)
low = min(student_score, key = student_score.get)

print(sum1)
print(avg)
print(high, student_score[high])
print(low, student_score[low])

402
80.4
홍의 97
원희 60

In [ ]:
# 2.
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

like = list(set(like) - set(dislike))
print(like)

['짜장면', '치킨', '볶음밥', '라면']

## (230504) 오늘 배운 것 정리 요약

1. sort
    * sorted는 원본을 만지지 않는 'built-in function', 정렬입니다.
    * sort는 원본을 만지는 '리스트 메서드', 정렬입니다.
    * sort의 다양한 예
        ```python
        l = [[1, 10, 'leehojun'], 
            [20, 30, 'hojun'], 
            [10, 20, 'weniv!'], 
            [1, 2, 'hello world'], 
            [55, 11, 'sun']]

        # 1. 글자 수 대로 정렬해주세요.
        def f(x):
            return len(x[2])

        print(sorted(l, key=f, reverse=False))
        print(sorted(l, key=lambda x:len(x[2]), reverse=False))

        # 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
        def f2(x):
            return x[0]

        print(sorted(l))
        print(sorted(l, key=f2))
        print(sorted(l, key=lambda x:x[0]))

        # 3. 중앙에 위치한 값대로 정렬해주세요.

        def f3(x):
            return x[1]

        print(sorted(l))
        print(sorted(l, key=f3))
        print(sorted(l, key=lambda x:x[1]))

        l = [[1, 10, 32], 
            [20, 30, 11], 
            [10, 20, 22], 
            [1, 2, 13], 
            [55, 11, 44]]
            
        # 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

        def f4(x):
            return x[0] + x[1] + x[2]

        def f5(x):
            return sum(x)

        print(sorted(l, key=f4))
        print(sorted(l, key=f5))
        print(sorted(l, key=lambda x: sum(x)))
        print(sorted(l, key=sum))
        ```

2. 깊은 복사와 얕은 복사
    1. 깊은 복사 : 완전히 다른 객체를 만듭니다.(깊은 복사는 n 계층까지 모두 복사)
        ```python
        # 깊은 복사
        import copy

        l = [[1, 2, 3], [4, 5, 6]]
        ll = copy.deepcopy(l)
        ll[0][0] = 10
        l, ll
        ```
    2. 얕은 복사 : 내용물은 같은 다른 객체를 만듭니다.(얕은 복사는 1 계층만 복사)
        ```python
        # 얕은 복사
        l = [[1, 2, 3], [4, 5, 6]]
        ll = l[:] # l.copy, sorted를 써도 마찬가지입니다.
        l[0][0] = 100
        l, ll
        ```

3. range
    ```python
    # range(start, stop, step) 
    # 슬라이싱은 ':'(콜론)으로 연결되어 있고
    # range는 ','(콤마)로 연결되어 있습니다.

    print(list(range(100))) 
    # python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
    print(list(range(5, 10)))

    print(list(range(0, 101, 2))) #짝수
    print(list(range(1, 101, 2))) #홀수
    print(list(range(100, 1, -2)))
    print(sum(list(range(0, 101))))
    print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.
    ```

4. list comprehension
    ```python
    # l = []
    # for i in range(1, 11):
    #     l.append(i**i)
    # l

    l = [i**i for i in range(1, 11)]
    l
    ```

5. tuple
    - 튜플은 순서가 있는 시퀀스형 자료형입니다.
    - 참조값은 변경이 불가능(immutable) 합니다.
        ```python
        t = (10, 20, 30)
        t[1] = 1000 # error
        ```
    - 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
    - 값의 중복을 허락합니다.
    - 메서드는 index와 count밖에 없습니다.

6. dict (딕셔너리, 사전형)
    - 딕셔너리는 순서가 없는 자료형입니다.
    - 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
    - 값의 변경이 가능합니다.
        ```python
        d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
        print(d['one']) # 호출
        d['two'] = '투' # 변경
        d
        ```
    - 다른 자료형을 입력할 수 있습니다.
    - 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.
    - dict를 활용한 switch 만들기
        ```python
        def switch(day):
            return {
                1 : '월요일',
                2 : '화요일',
                3 : '수요일',
                4 : '목요일',
                5 : '금요일',
                6 : '토요일',
                7 : '일요일',
            }.get(day, '요일을 찾지 못했습니다.')

        switch(8) 
        ```
    - max를 이용한 dict 최대 value의 key값 가져오기
        ```python
        d = {
            'test1': 10,
            'test2': 20,
            'test3': 31,
            'test4': 11,
        }

        # max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
        max(d, key=lambda x: d[x])
        max(d, key=d.get) #많이 사용하는 코드입니다.
        ```

7. 언패킹
    * 언패킹 예
        ```python
        for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
            print(i, j, k)
        ```
    * swap 예
        ```python
        # swap
        a = 10
        b = 15
        a, b = b, a
        a, b
        ```

8. set (셋, 집합)
    * 집합 자료형은 중복을 허용하지 않으며
    * 순서가 없는 자료형
        ```python
        n = set([1, 1, 2, 2, 3, 3, 4])
        print(n)
        ```
    * 메서드
        - add : 값 추가
        - update : 값 여러개 추가
        - remove : 제거
        - copy : 값 복사
        - union : 합집합
        - intersection : 교집합
        - difference : 차집합
        - issubset : 부분집합

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1  and x < 10:
    print('True')

True

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if 1213:
    print('hello')

hello

In [ ]:
def f():
    return False

if f():
    print('hello')
print('world')

world

In [ ]:
if '': # [], {}, '' 는 모두 False 취급
    print('hello')
print('world')

world

In [ ]:
if ' ': # 공백이 있음
    print('hello')
print('world')

hello
world

In [ ]:
if [       ]:
    print('hello')
print('world')

world

In [ ]:
# SyntaxError

# if [,]:
#     print('hello')
# print('world')

SyntaxError: ignored

In [ ]:
if None:
    print('hello')
print('world')

world

In [ ]:
class int(int):
    def __eq__(self, next):
        return True

if int(11) == int(10):
    print('hello')
print('world')

hello
world

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법
# and구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        print('one')

if x > 5 and type(x) == int:
    print('one')

In [ ]:
x = 10
if x > 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')

if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if, elif, else 구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

## if 심화

In [ ]:
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

hello

In [ ]:
if 1 > 5: print('hello')
elif 5 > 1: print('hello')

hello

In [ ]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')

hello world

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

one

In [ ]:
# Error 이렇게 사용하지 않습니다
# if 5 > 1 print('one') else print('two')

SyntaxError: ignored

In [ ]:
# 할당이나 return에서 많이 사용합니다.

y = 100
x = 'one' if y > 80 else None
print(x)

one

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(80))

one
None

In [ ]:
# 이해를 위해 만든 예제이지 효율적이진 않습니다.
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x:type(x)==int, x))) == len(x) else float('inf')

print(custom_sum([1, 2, 3, 4, 5, 6])) # 21
print(custom_sum([1, 2, 3, 4, '5', 6])) # float('inf')

21
inf

In [ ]:
# 문제 : 다음 if문을 3항 연산자로 표현해주세요.
# if x % 2 == 0:
#     홀짝여부 = '짝수'
# else:
#     홀짝여부 = '홀수'

x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'
홀짝여부

'짝수'

In [ ]:
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1일 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False일 때'

In [ ]:
x = 15
if x % 2 == 0:
    배수 = '2X' # 2의 배수
elif x % 3 == 0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다!
배수

'3X'

In [ ]:
x = 15
배수 = '2X' if x % 2 == 0 else '3X' if x % 3 == 0 else '?'
배수

'3X'

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#     code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# for i in 10: # error
#     print(i)

In [ ]:
# for i in 10.1: # error
#     print(i)

In [ ]:
for i in [1, 2, 3]:
    print(i)

In [ ]:
for i in (1, 2, 3):
    print(i)

In [ ]:
for i in {1, 2, 3}:
    print(i)

In [ ]:
for i in {'one':1, 'two':2, 'three':3}:
    print(i)

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed...
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in 언어순위:
    print(i)

Python
JavaScript
JAVA
Ruby

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위):
    print(i)

(0, 'Python')
(1, 'JavaScript')
(2, 'JAVA')
(3, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 1):
    print(i)

(1, 'Python')
(2, 'JavaScript')
(3, 'JAVA')
(4, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i in enumerate(언어순위, 101):
    print(i)

(101, 'Python')
(102, 'JavaScript')
(103, 'JAVA')
(104, 'Ruby')

In [ ]:
언어순위 = ['Python', 'JavaScript', 'JAVA', 'Ruby']
for i, j in enumerate(언어순위, 101):
    print(i, j)

101 Python
102 JavaScript
103 JAVA
104 Ruby

## (230508) 오늘 배운 것 정리 요약
* 조건문
    * 조건에 따라 코드를 분기할 수 있는 구문
    * if, elif, else
    * elif와 else는 단독으로 사용이 되지 않습니다.
    * 예시(score에 값을 변경해보면서 money 값을 확인해주세요.)
    ```python
    score = 81
    money = 0

    if score >= 90: # 만약에 조건이 참이라면
        print('mom : i\'m so happy!')
        money += 1000000
    elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
        print('mom : i\'m happy!')
        money += 100000
    elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
        print('mom : i\'m so...!')
        money += 10000
    elif score >= 60:
        print('mom : i\'m so...!')
        money += 1000
    else:
        print('mom : i\'m...!')
    print(money)
    ```
    * 3항 연산자
    ```python
    def f(y):
    return 'one' if y > 80 else None
    ```
* 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체:
    #     code
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```

In [ ]:
for _, i in [[1, 2], [3, 4], [5, 6]]:
    print('hello world')
    print(i)

hello world
2
hello world
4
hello world
6

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i
s

2550

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

In [ ]:
# 이렇게 사용하지는 못합니다.
# for True:
#     print('hello')

## break과 continue

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
for i in range(10):
    print('----')
    print(i)
    for j in range(10):
        print(i, j)
        if i == 5:
            break

----
0
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
----
1
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
----
2
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
----
3
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
----
4
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
----
5
5 0
----
6
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
----
7
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
----
8
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
----
9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

## for와 else 구문

In [ ]:
# 다른 언어에서는 없음
for i in range(10):
    if i == 5:
        break
else:
    print('정상종료')

In [ ]:
# 반복문 + else구문은
# 반복문이 break을 쓰지 않고 정상 종료되었을 때
# else 구문이 실행됩니다.

for i in range(10):
    if i == 5:
        pass
else:
    print('정상종료!')

정상종료!

In [ ]:
# 무한반복
# generator로 무한반복을 구현하는것을 권장합니다.
# l = [1]
# for i in l:
#     l.append(i+1)
#     print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472

KeyboardInterrupt: ignored

## 리스트 표현식 (list comprehension)

In [ ]:
# 리스트 안에 반복문이나 조건문을 넣어 리스트를 생성하는 기법
# 리스트 표현식은 for보다 빠릅니다
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    elif i % 3 == 0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 == 0 or i % 3 == 0]

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
# Error
# [i for i in range(10) if i % 2 == 0 elif i % 3 == 0]

In [ ]:
# 구구단
for i in range(2, 10):
    for j in range(1, 10):
        print(i, '*', j, '=', i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 별찍기
for i in range(1,6):
    for j in range(i):
        print('*', end='')
    print('\n')

*

**

***

****

*****

In [ ]:
[[i, j, i*j] for i in range(2, 10) for j in range(1, 10)]

[[2, 1, 2],
 [2, 2, 4],
 [2, 3, 6],
 [2, 4, 8],
 [2, 5, 10],
 [2, 6, 12],
 [2, 7, 14],
 [2, 8, 16],
 [2, 9, 18],
 [3, 1, 3],
 [3, 2, 6],
 [3, 3, 9],
 [3, 4, 12],
 [3, 5, 15],
 [3, 6, 18],
 [3, 7, 21],
 [3, 8, 24],
 [3, 9, 27],
 [4, 1, 4],
 [4, 2, 8],
 [4, 3, 12],
 [4, 4, 16],
 [4, 5, 20],
 [4, 6, 24],
 [4, 7, 28],
 [4, 8, 32],
 [4, 9, 36],
 [5, 1, 5],
 [5, 2, 10],
 [5, 3, 15],
 [5, 4, 20],
 [5, 5, 25],
 [5, 6, 30],
 [5, 7, 35],
 [5, 8, 40],
 [5, 9, 45],
 [6, 1, 6],
 [6, 2, 12],
 [6, 3, 18],
 [6, 4, 24],
 [6, 5, 30],
 [6, 6, 36],
 [6, 7, 42],
 [6, 8, 48],
 [6, 9, 54],
 [7, 1, 7],
 [7, 2, 14],
 [7, 3, 21],
 [7, 4, 28],
 [7, 5, 35],
 [7, 6, 42],
 [7, 7, 49],
 [7, 8, 56],
 [7, 9, 63],
 [8, 1, 8],
 [8, 2, 16],
 [8, 3, 24],
 [8, 4, 32],
 [8, 5, 40],
 [8, 6, 48],
 [8, 7, 56],
 [8, 8, 64],
 [8, 9, 72],
 [9, 1, 9],
 [9, 2, 18],
 [9, 3, 27],
 [9, 4, 36],
 [9, 5, 45],
 [9, 6, 54],
 [9, 7, 63],
 [9, 8, 72],
 [9, 9, 81]]

## 다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [ ]:
skill_name = ['고기잡이', '고기팔기', '낚시']
skill_point = [100, 120, 5]

for i, j in zip(skill_name, skill_point):
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5

In [ ]:
skill = [
        ('고기잡이', [1,100]),
        ('고기팔기', [1, 120]),
        ('낚시', [2, 5]),
        ('통발', [2, 5]),
        ('큰그물', [2, 5])
]

for i,[x, y] in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 120
낚시 2 5
통발 2 5
큰그물 2 5

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, (x, y) in skill:
    print(i, x, y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill 이름, skill 제한 레벨, skill 포인트, skill 등급입니다.
# 아래와 같이 출력해주세요.
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]

# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급에 skill 고기잡이를 습득하셨습니다! 
#  해당 스킬은 레벨 제한 1에 스필 포인트 100입니다.'

for i, (j, k, l) in data:
    print(f'축하합니다. {l}등급의 skill {i}를 습득하셨습니다!')
    print(f'해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다')

축하합니다. S등급의 skill 고기잡이를 습득하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다
축하합니다. A등급의 skill 고기팔기를 습득하셨습니다!
해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다
축하합니다. A등급의 skill 낚시를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다
축하합니다. B등급의 skill 통발를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다
축하합니다. S등급의 skill 큰그물를 습득하셨습니다!
해당 스킬은 레벨 제한 2에 스킬 포인트 100입니다

## while

In [ ]:
a = 1
while a < 10 :
    print(a)
    a += 1

1
2
3
4
5
6
7
8
9

In [ ]:
# while 특정요소:
#     특정요소 값 꺼내는 문법
#     특정요소가 모두 없어질 때까지

l = [1, 2, 3]
while l:
    print(l.pop())

3
2
1

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진합니다.
# 서버가 뻗을 수도 있습니다.
while True:
    user_input = input('$')
    split_data = user_input.split(' ')
    if split_data[0] == 'mkdir':
        print(f'{split_data[1]} 폴더가 생성되었습니다!')
    elif split_data[0] == 'rmdir':
        print(f'{split_data[1]} 폴더가 삭제되었습니다!')
    elif split_data[0] == 'exit':
        print('프로그램을 종료합니다.')
        break

$mkdir 새폴더
새폴더 폴더가 생성되었습니다!
$rmdir 개폴더
개폴더 폴더가 삭제되었습니다!
$exit
프로그램을 종료합니다.

In [ ]:
import random
# up down game

result = random.randint(1, 100)

while True:
    user_input = int(input())
    if user_input > result:
        print('down')
    elif user_input < result:
        print('up')
    else:
        print('맞췄습니다!')
        print('프로그램을 종료합니다.')
        break

50
down
25
up
12
up
40
up
44
down
43
down
42
down
41
맞췄습니다!
프로그램을 종료합니다.

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
        break
    count += 1
print('end')

0
1
2
3
4
5
end

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
i = 0
while i < 10:
    if i == 5:
        break
    i += 1
else:
    print('정상종료!')

In [ ]:
i = 0
while i < 10:
    i += 1
else:
    print('정상종료!')

정상종료!

In [ ]:
count10 = 0
count3 = 0
n = 15
while count10 < n + 1:
    if count10 % 3 != 0:
        count3 += 1
    print(count10+count3)
    count10 += 1

In [ ]:
def solution(n):
    count10 = 0
    count3 = 0
    while count10 < n:
        count10 += 1
        count3 += 1
        while count3 % 3 == 0 or '3' in str(count3):
            count3 += 1
    return count3

In [ ]:
def solution(n):
    return [i for i in range(1, 1001) if i % 3 != 0 and not('3' in str(i))][n-1]

## 실제 데이터를 가지고 연습 (json gen)

In [ ]:
data = [
  {
    "_id": "6459c9f58919089f2f5f2a06",
    "age": 38,
    "eyeColor": "brown",
    "name": "Schwartz Travis",
    "gender": "male"
  },
  {
    "_id": "6459c9f569ae22ee181635d4",
    "age": 33,
    "eyeColor": "brown",
    "name": "Huber Fisher",
    "gender": "male"
  },
  {
    "_id": "6459c9f5dcbd022a8632cecf",
    "age": 30,
    "eyeColor": "green",
    "name": "Cline Orr",
    "gender": "male"
  },
  {
    "_id": "6459c9f5928e9af4b0a51ab8",
    "age": 24,
    "eyeColor": "brown",
    "name": "Ericka Salinas",
    "gender": "female"
  },
  {
    "_id": "6459c9f5cf8a8f92fe2b0c5d",
    "age": 20,
    "eyeColor": "brown",
    "name": "Savannah Massey",
    "gender": "female"
  },
  {
    "_id": "6459c9f5dd779a8340497ebb",
    "age": 35,
    "eyeColor": "green",
    "name": "Tyler Whitley",
    "gender": "male"
  }
]

count = 0
age = 0
male = 0
female = 0
for i in data:
    count += 1
    age += i['age']
    if i['gender'] == 'male':
        male += 1
    else:
        female += 1

print('age 평균', age/count)
print('남자', male/count * 100)
print('여자', female/count * 100)

age 평균 30.0
남자 66.66666666666666
여자 33.33333333333333

## 알아야 하는 built-in function

### 수학적 통계에 활용되는 함수

- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

### 형변환 함수

- set( )
- dict( )
- hex( ) : 16진법
- bin( ) : 2진법
- oct( ) : 8진법
- bool( )
- str( )
- ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(아스키코드표를 참고하세요.)
- float( )
- tuple( )
- chr( ) : 숫자값을 통해서 문자를 출력합니다.
- list( )
- range( )
- complex( )

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 작성한 함수
    '''
    pass

help(hojun)

Help on function hojun in module __main__:

hojun()
    이호준이 작성한 함수

### object 관련 함수

- dir( )
- id( )
- type( )

In [ ]:
# dir() # directory에 약자로 대상이 가진 attribute를 모두 출력합니다.
# attribute가 무엇인가? class에서 배울 멤버 + 메서드 입니다.

In [ ]:
def f():
    return 100

dir(f)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

### 유용한 순회 가능 객체

- enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
- range( )
- filter( )
- zip( )
- map( )

In [ ]:
list(enumerate([10, 20, 30]))

[(0, 10), (1, 20), (2, 30)]

In [ ]:
list(enumerate([10, 20, 30], 100))
# list(enumerate([10, 20, 30], 'abc')) # error 뒤에 숫자를 입력해야 합니다.

[(100, 10), (101, 20), (102, 30)]

In [ ]:
def 함수(x):
    return x > 15

list(filter(함수, [10, 20, 30, 40]))
list(filter(None, [True, True, False, False]))
# filter에 None 주는 것이 어디에 유용할까요?
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None, [[], 'abc', '', '']))

['abc']

In [ ]:
list(zip('abc', 'defaaaa', 'ght', [1, 2, 3], [4, 5, 6, 7]))

[('a', 'd', 'g', 1, 4), ('b', 'e', 'h', 2, 5), ('c', 'f', 't', 3, 6)]

In [ ]:
x = [5, 4, 6, 8, 2]
list(zip('abcdefg', sorted(x)))

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

## args, kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(*args): # 꼭 args가 될 필요는 없습니다.
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'leehojun')

(100, True, 'leehojun')
100
True
leehojun

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kwargs가 될 필요는 없습니다.
    print(a)
    print(kwargs)
    for i in kwargs:
        print(i)

print_kwargs(100, name='leehojun', age='10')

100
{'name': 'leehojun', 'age': '10'}
name
age

In [ ]:
# error
# def print_args(*args, b):
#     print(args)
#     for x in args:
#         print(x)

# print_args(100, True, 'leehojun')

In [ ]:
def print_args(b, *args): # args 앞에 순서대로 넣을 변수가 있어야 합니다.
    print(args)
    for x in args:
        print(x)

print_args(100, True, 'leehojun')

(True, 'leehojun')
True
leehojun

In [ ]:
one, two, *three = 1,2,3,4,5
print(one, two, three)

1 2 [3, 4, 5]

## lambda

* lambda는 익명함수라고 하며, 이름이 없는 함수

In [ ]:
leehojun = lambda x : x**2

In [ ]:
print(type(leehojun))

<class 'function'>

In [ ]:
print(type(lambda x : x**2))

<class 'function'>

In [ ]:
def add(x, y):
    return x + y
def sub():
    pass
def div():
    pass
def mul():
    pass

caculator = [add, sub, div, mul]
print(caculator[0](10, 20))#0번째 값은 add 입니다.

caculator2 = [lambda x,y:x+y, 
              lambda x,y:x-y, 
              lambda x,y:x/y, 
              lambda x,y:x*y]

print(caculator2[0](10, 20)) #0번째 값은 add 입니다.
print(caculator2[0](10, 20))

30
30
30

In [ ]:
def f():
    return lambda x,y:x+y

f()(10,20)

30

In [ ]:
def f():
    return lambda x:lambda i:i**2

f()(1)(10)

100

In [ ]:
def f():
    return lambda x:lambda i:x*i**2

f()(2)(10)

200

### lambda 실무 응용

* lambda가 응용되는 곳: map, filter, max, min, sorted

In [ ]:
# 실무에서도 많이 사용됩니다.
def 제곱(x):
    return x ** 2

# 재사용 하는 경우에는 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1, 2, 3, 4]))
list(map(제곱, [1, 2, 3, 4]))

list(map(lambda x : x ** 2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [ ]:
# 질문1 : 람다함수를 재귀로 사용할 수 있나요?
# 답 : Yes
fact = lambda x: 1 if x == 0 else x * fact(x-1)
fact(5)

120

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 승수하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

# 1.
print(list(zip(숫자, 승수)))
# 2.
print(list(map(lambda x: x[0] ** x[1], zip(숫자, 승수))))
# 3.
print(list(filter(lambda x: x > 100, map(lambda x: x[0] ** x[1], zip(숫자, 승수)))))
# 4.
print(sum(map(lambda x: x[0] ** x[1], zip(숫자, 승수))))

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]
[1, 4, 9, 64, 125]
[125]
203

## (230509) 오늘 배운 것 정리 요약
* 반복문
    * 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체: # stopItoration까지 반복
    #     code

    # while 조건: # true까지 반복
    #     code 
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```
    * 반복문 다음 else 구문 : break 없이 정상 종료 되면 실행
    * 반복문 안에 break 구문 : 자신을 감싸고 있는 반복문 1개 탈출
    * 반복문 안에 continue 구문 : 다음 루프로 넘어감
    * 반복문 안에 pass : 공백만 채워줄 뿐 아무 기능 없음

* bulit-in function
    * 수학적 통계에 활용되는 함수
        - abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
        - all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
        - any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
        - pow( ) : 제곱을 출력합니다.
        - max( ) : 값의 최댓값을 출력합니다.
        - min( ) : 값의 최솟값을 출력합니다.
        - sum( ) : 값의 합계를 출력합니다.
        - len( ) : 문자열의 길이를 출력합니다.
        - sorted( ) : 데이터를 정렬해줍니다.
        - reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

    * 형변환 함수
        - set( )
        - dict( )
        - hex( ) : 16진법
        - bin( ) : 2진법
        - oct( ) : 8진법
        - bool( )
        - str( )
        - ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(유니코드표를 참고하세요.)
        - float( )
        - tuple( )
        - chr( ) : 숫자값을 통해서 문자를 출력합니다.
        - list( )
        - range( )
        - complex( )

    * 도움말
        - help( )

    * object 관련 함수
        - dir( )
        - id( )
        - type( )

    * 순회 가능한 객체
        - enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
        - range( )
        - sorted( )
        - reversed( )
        - filter( )
        - zip( )
        - map( )

* args, kargs
    * 가변 아규먼트, 가변 키워드 아규먼트
    ```python
    def print_args(*args): # 꼭 args가 될 필요는 없습니다.
        print(args)

    print_args(100, True, 'leehojun')

    ####

    def print_kwargs(**kwargs): # 꼭 kargs가 될 필요는 없습니다.
    print(kwargs)

    print_kwargs(name='leehojun', age='10')
    ```

* lambda
    * lambda 는 익명함수라고 하며, 이름이 없는 함수
    * 보통은 다시 사용되지 않을 함수를 선언할 때 사용
    ```python
    leehojun = lambda x : x**2

    # def leehojun(x):
    #     return x ** 2

    list(map(lambda x : x ** 2, [1, 2, 3, 4]))
    ```